<div class="card">
    <div class="card-body">
        <h1>Video Idea</h1>
        <form action="/ideas" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input required type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea required  name="details" class="form-control"></textarea>
            </div>
            <button class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
</div>